<%= form_for(@log) do |f| %>
  <%= hidden_field_tag :article_id, @article.id %>
  <p class="add-cafelog"><i class="fas fa-utensils"></i> カフェログを追加する</p>
  <div class="row">
    <div class="col-md-9">
      <div class="field">
        <%= f.text_area :content, placeholder: "カフェメモ" %>
      </div>
    </div>
    <div class="col-md-3">
      <%= f.submit "追加", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
