<header class="top-header">
  <nav class="gnav">
    <ul class="gnav-list fadeIn fade-in">
      <li class="gnav-item gnav-main"><%= link_to 'HOME', root_url %></li>
      <li class="gnav-item gnav-main"><%= link_to 'ABOUT', about_path %></li>
      <li class="gnav-item gnav-main"><%= link_to 'TERMS',use_of_terms_path %></li>
      <li class="gnav-item gnav-main"><a href="staff/index.html">STAFF</a></li>
      <li class="gnav-item gnav-main"><a href="access/index.html">ACCESS</a></li>
      <li class="gnav-item gnav-main"><a href="contact/index.html">CONTACT</a></li>
      <li class="gnav-item gnav-sns"><a href="" target="_blank"><i class="fab fa-instagram faa-wrench animated-hover"></i></a></li>
      <li class="gnav-item gnav-sns"><a href="" target="_blank"><i class="fab fa-twitter-square faa-wrench animated-hover"></i></a></li>
      <li class="gnav-item gnav-sns"><a href="" target="_blank"><i class="fab fa-facebook-square faa-wrench animated-hover"></i></a></li>
    </ul>
  </nav>
  <button class="btn-trigger">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
