<div class="mainvisual" id="mainvisual">	
  <div class="key-img"></div>
  <div class="mainvisual-left">
    <h2>CAFE LOG</h2>
    <div class="scrolldown">
      <div class="arrowWrap">
        <div class="arrowInner">
          <div class="arrow"></div>
          <p>Scroll</p>
        </div>
      </div>
    </div>
  </div>
</div>
